@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: #adbce6;
  --alt: #718fe2;
  --secondary: white;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: var(--secondary);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid black;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000;
  border-radius: 10px 0px 0px 10px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: var(--primary);
  color: #000;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--alt);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.access-container{
  background: var(--secondary);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid black;
}

.access-form {
  width: 100%;
}

.return-btn {
  background: var(--secondary);
  color: #000;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-top: 3vh;
  border-radius: 5px;
  border: 1px solid black;
}